.imgBlob {
    object-fit: cover;
    border-radius: 56% 44% 38% 62% / 60% 40% 60% 40%;
    animation: blobMorph 12s ease-in-out infinite;
    transition: border-radius 1s ease-in-out;
    overflow: hidden;
}

@keyframes blobMorph {
    0% {
        border-radius: 56% 44% 38% 62% / 60% 40% 60% 40%;
    }

    13% {
        border-radius: 47% 53% 61% 39% / 52% 58% 42% 48%;
    }

    27% {
        border-radius: 65% 35% 32% 68% / 55% 33% 67% 45%;
    }

    41% {
        border-radius: 40% 60% 58% 42% / 35% 65% 45% 55%;
    }

    56% {
        border-radius: 72% 28% 46% 54% / 70% 50% 30% 40%;
    }

    73% {
        border-radius: 51% 49% 37% 63% / 42% 59% 39% 58%;
    }

    88% {
        border-radius: 62% 38% 53% 47% / 60% 40% 50% 50%;
    }

    100% {
        border-radius: 56% 44% 38% 62% / 60% 40% 60% 40%;
    }
}



.imgNoisedSquare {
    object-fit: cover;
    border-radius: 3% 4% 2% 5% / 5% 3% 4% 2%;
    animation: blobStaticSquareTiny .8s linear infinite;
    overflow: hidden;
    transition: all .1s ease-in-out;
}

@keyframes blobStaticSquareTiny {
    0% {
        border-radius: 3% 4% 2% 5% / 5% 3% 4% 2%;
    }

    12% {
        border-radius: 4% 2% 3% 5% / 3% 5% 2% 4%;
    }

    26% {
        border-radius: 5% 3% 4% 2% / 4% 2% 5% 3%;
    }

    39% {
        border-radius: 2% 5% 3% 4% / 5% 4% 2% 3%;
    }

    53% {
        border-radius: 3% 2% 5% 4% / 2% 5% 3% 4%;
    }

    68% {
        border-radius: 4% 5% 2% 3% / 3% 2% 4% 5%;
    }

    84% {
        border-radius: 2% 3% 5% 4% / 4% 5% 2% 3%;
    }

    100% {
        border-radius: 3% 4% 2% 5% / 5% 3% 4% 2%;
    }
}