@import "tailwindcss";


:root {
    --background: hsl(124, 54%, 11%);
    --foreground: hsl(0, 14%, 89%);
    --link: hsl(25, 100%, 50%);
    --link-hover: hsl(59, 100%, 50%);
    --header-font: 'Carter One', cursive;
}

html,
body {
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-body), system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold mb-3;
    font-family: var(--header-font);
}

h1 {
    @apply text-4xl;
    text-transform: uppercase;
    text-shadow: 0 .3em .5em black;
}

h2 {
    @apply text-3xl;
    @apply mt-12;
    text-shadow: 0 .5em .5em black;
}

h3 {
    @apply mb-0;
    @apply mt-4;
}


p {
    @apply mb-1;
}

a {
    color: var(--link);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1rem;
}